<div id="conteudo">
  <div id="topo">
    <h1 align="right">Relatório de Unidades</h1>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.5       . </font></h4>
  </div><br/>
  | <%= link_to 'Cadastrar', new_unidade_path %> |
  <a href="javascript:window.print();">Imprimir</a>
  | <%= link_to ' Inicio' , root_path %> |
  <br/><br/>
  <fieldset>
   <legend><font size=4>Unidades</font></legend>
   <table border ="1" cellpadding="5" cellspacing="1" width="40%" >
      <tr>
        <th bgcolor="#cccccc">Localização</th>
        <th bgcolor="#cccccc">Nome</th>
        <th bgcolor="#cccccc">Tipo de Ensino</th>
      </tr>
      <% for unidade in @unidades %>

        <tr>
          <td><center><%=h unidade.regiao.nome %></center></td>
          <td><center><%=h unidade.nome %></center></td>
          <td><center><%=h unidade.nome_tipo %></center></td>
         </tr>
         <tr>
          <td bgcolor="#cccccc"><%= link_to 'Exibir', unidade %></td>
          <td bgcolor="#cccccc"><%= link_to 'Alterar', edit_unidade_path(unidade) %></td>
          <td bgcolor="#cccccc"><%= link_to 'Apagar', unidade, :confirm => 'Tem certeza?', :method => :delete %></td>
        </tr>
      
         <td>
           
         </td>

      <% end %>
    </table>
  </fieldset><br />

  | <%= link_to 'Cadastrar', new_unidade_path %> |
  <a href="javascript:window.print();">Imprimir</a>
  | <%= link_to ' Inicio' , root_path %> |

</div>
<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>
