<div id="conteudo">
<div id="topo">
<br/>
<h1>Relatório de Unidades</h1>
</div>
<br/>
|<%= link_to 'Cadastrar Unidade', new_unidade_path %> |
<a href="javascript:window.print();">Imprimir</a>
| <%= link_to ' Inicio' , root_path %> |
<fieldset>
  
<table >
  <tr>
    <th>Localização</th>
    <th>Nome</th>
    <th>Tipo de Ensino</th>
  </tr>

<% for unidade in @unidades %>
  <tr>
    <td><center><%=h unidade.regiao.nome %></center></td>
    <td><center><%=h unidade.nome %></center></td>
    <td><center><%=h unidade.nome_tipo %></center></td>

    
    <td><%= link_to 'Exbir', unidade %></td>
    <td><%= link_to 'Alterar', edit_unidade_path(unidade) %></td>
    <td><%= link_to 'Apagar', unidade, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>

<% end %>
</table>
</fieldset>

<br />

| <%= link_to 'Cadastrar Unidade', new_unidade_path %> |
<a href="javascript:window.print();">Imprimir</a>
| <%= link_to ' Inicio' , root_path %> |

</div>
