<div id="conteudo">
  <div id="position">
  <%if logged_in? then%>
      <font color="white"><td><%= link_to '|Sair|', logout_path %></td></font>
      <td>Está logado como: <%= current_user.name %></td>
    <%else%>
      <font color="white"><td><%= link_to '|Incluir usuário|', signup_path %></td></font>
        
    <%end%>

  </div>
    <div id="img-login">
	<div class="conteudo">
     <center>
     <div id="teste">
     <% form_tag session_path do -%>
          <p><label for="login">Usuário:</label><br/>
           <%= text_field_tag 'login',nil%></p>
          <p><label for="password">Senha:</label><br/>
          <%= password_field_tag 'password' %></p>

      <p class="button"><%= submit_tag 'Entrar' %></p>
     <% end -%>
  

     </div>
    </center>
	</div>
    </div>
</div>
