    <style type="text/css">
      body { background: #eee; font-family: monaco, 'courier new', helvetica, sans-serif; }
      #container { width: 900px; margin: 50px auto; background: #fff; padding: 25px; border: 1px solid #ccc; }
      h1 { font-size: 18px; margin-bottom: 10px; padding: 7px 0 7px 0; }
      div { margin-bottom: 35px; }
      .open{ color:red; }
    </style>
<h1>Perguntas Frequentes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Duvida</th>
  </tr>

<% for faq in @faqs %>
  <tr>
    <td><%=h faq.user %></td>
    <td><%=h faq.duvida %></td>
    <td><%= link_to 'Show', faq %></td>
    <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
    <td><%= link_to 'Destroy', faq, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New faq', new_faq_path %>
