<center><h2>Qual consulta deseja executar?</h2></center>
<div id="info">
<center>
<fieldset>
<legend>| <%= link_to 'Cadastrar Criança', new_crianca_path %>| <%= link_to ' Inicio' , root_path %> |</legend>
<table rules="rows">
  <table>

    <script>
       $(document).ready(function()
         {
           $("#dropdownbutton1").click(function ()
             {
               $("#menu1").slideToggle("higth");
             });
         });
    </script>
     <a href="#" id="dropdownbutton1" style="font-size: 12pt"> >> Demanda por Unidade << </a>
       <ul id="menu1" style="display:none">
            <p style="font-size: 12pt">Selecione uma unidade: <%= collection_select :unidade, :unidade_op1_id, @unidades, :id, :nome, :include_blank => 'Opção 1' %><%= collection_select :unidade, :unidade_op2_id, @unidades, :id, :nome, :include_blank => 'Opção 2' %><%= collection_select :unidade, :unidade_op3_id, @unidades, :id, :nome, :include_blank => 'Opção 3' %></p>
       </ul>
         
       <%= observe_field 'unidade_unidade_op1_id',
           :frequency => 0.5,
           :update => "listagem",
           :url    => { :action => 'un_op1_din' },
           :with   => 'unidade_unidade_op1_id' %>


        <%= observe_field 'unidade_unidade_op2_id',
           :frequency => 0.5,
           :update => "listagem",
           :url    => { :action => 'un_op2_din' },
           :with   => 'unidade_unidade_op2_id' %>

        <%= observe_field 'unidade_unidade_op3_id',
           :frequency => 0.5,
           :update => "listagem",
           :url    => { :action => 'un_op3_din' },
           :with   => 'unidade_unidade_op3_id' %>

    <script>
       $(document).ready(function()
         {
           $("#dropdownbutton").click(function ()
             {
               $("#menu").slideToggle("higth");
             });
         });
    </script>
    <br />

  
   <a href="#" id="dropdownbutton" style="font-size: 12pt"> >>Matriculas por Unidade << </a>
       <ul id="menu" style="display:none">
         <p style="font-size: 12pt">Selecione uma unidade: <%= collection_select :unidade, :unidade_mat_id, @unidades, :id, :nome, :include_blank => ' -- Selecione -- ' %></p>
       </ul>
          
        <%= observe_field 'unidade_unidade_mat_id',
           :frequency => 0.5,
           :update => "listagem",
           :url    => { :action => 'mat_unidade' },
           :with   => 'unidade_unidade_mat_id' %>
</table>
</table>
</fieldset>

<br/>
        <center>
          <font size=4><u><b> Estatísticas</font></u></b>
        </center>
        <br/>
        <tr>
           <center>
             <td><font size=3>Total  Crianças  Cadastradas</font> </td>
             <td><font size=3><%= link_to_remote(Crianca.c.length, :update => "listagem", :url => { :action => "busca"}) %></font></td>
           </center>
        </tr>
        <tr>
           <center>
             <td><font size=3>Total Crianças Matriculadas </font></td>
             <td><font size=3><%= link_to_remote(Crianca.b_u.length, :update => "listagem", :url => { :action => "busca_unidade"}) %></font></td>
           </center>
        </tr>
        <tr>
           <center>
             <td><font size=3>Total Crianças Não Matriculadas </font></td>
             <td><font size=3><%= link_to_remote(Crianca.b_dm.length, :update => "listagem", :url => { :action => "busca_demanda"}) %></font></td>
           </center>
        </tr>


  </center>
 </div>

