<div id="fundo_menu">
<legend>|  <%= link_to ' Início' , root_path %> |<%= link_to 'Cadastrar', new_crianca_path %>|  <td><%= link_to_remote('Matricular', :update => "consul", :url => { :action => "matric"}) %></td> | <td><%= link_to_remote('Consultar', :update => "consul", :url => { :action => "consulta"}) %></td> | <%= link_to 'Voltar', criancas_path %> |</legend>
<hr align="left" width="60%" color=#9C9C9C size="3"
</div>
