| <%= link_to_remote('Versão para impressão', :update => "listagem", :url => { :action => "versao_impressao_todas"}) %> 
| <%= link_to_remote('Voltar', :update => "consul", :url => { :action => "consulta"}) %> |

<%$teste=0%>
<div id="contador"></div>
<br/><br/>
<table border ="1" cellpadding="1" cellspacing="1" width="100%" >
    <tr>

    <center><th bgcolor="#cccccc">Nome</th></center>
    <th bgcolor="#cccccc">Data Nascimento</th>
    <th bgcolor="#cccccc">Nome Mãe</th>

    <th bgcolor="#cccccc">Cadastrado em</th>

    <th bgcolor="#cccccc">Bairro</th>
    <th bgcolor="#cccccc">Fone1</th>
    <th bgcolor="#cccccc">Resp</th>
    <th bgcolor="#cccccc">Trabalha</th>
    <th bgcolor="#cccccc">Opção 1</th>
    <th bgcolor="#cccccc">Opção 2</th>
    <th bgcolor="#cccccc">Classificação</th>
    <th bgcolor="#cccccc">Status</th>
    <th bgcolor="#cccccc">Unidade Matricula</th>
    </tr>

<% for crianca in @crianca %>
  <tr>
    <p><td><center><%=h crianca.nome %></center></td>
    <td><center><%=h crianca.nascimento.strftime("%d/%m/%y") %></center></td>
    <td><center><%=h crianca.mae %></center></td>

    <td><center><%=h crianca.created_at.strftime("%d/%m/%y %H:%M") %></center></td>

    <td><center><%=h crianca.bairro %></center></td>
    <td><center><%=h crianca.tel1 %></center></td>
    <td><center><%=h crianca.parentesco %></center></td>
    <td><center><%=h crianca.verifica_trabalha %></center></td>
    <td><center><%=h crianca.opcao1 %></center></td>
    <td><center><%=h crianca.opcao2 %></center></td>
    <td><center><%=h crianca.onde_classifica %></center></td>
    <td><center><%=h crianca.conf_status %></center></td>
<% if crianca.onde_matricula.nil? %>    
<td><center><%=h crianca.onde_matricula %></center></td></p>
<%else%>
<td><center><%=h crianca.onde_matricula %></center></td>
<%end%>
  </tr>
  <tr>
    <%  $teste = $teste + 1%>
    <% $flag_imp = 0 %>
    <%  if current_user.has_role?('admin') or current_user.has_role?('seduc') then%>
    <div id="negrito">
       <td bgcolor="#cccccc"><%= link_to 'Exibir', crianca %></td>
       <td bgcolor="#cccccc"><%= link_to 'Alterar', edit_crianca_path(crianca) %></td>
       <td bgcolor="#cccccc"><%= link_to 'Apagar', crianca, :confirm =>	 'Confirma a deleção?', :method => :delete %></td>
    </div>
    <%end%>
  </tr>


<% end %>

</table>
<br/>


<tr>
<p><font size=3>

 EXISTE(M) <%=h $teste %><%=h " " + crianca.tipo_consulta %>
<br /><br /><br />
</font></p>
</tr>
<br/>
| <%= link_to_remote('Versão para impressão', :update => "listagem", :url => { :action => "versao_impressao_todas"}) %> 
| <%= link_to_remote('Voltar', :update => "consul", :url => { :action => "consulta"}) %> |

