| <a href="javascript:window.print();">Imprimir</a>|

<%$teste=0%>
<div id="contador"></div>
<br/><br/>
<table border ="1" cellpadding="1" cellspacing="1" width="100%" >
    <tr>

    <center><th bgcolor="#cccccc">Nome</th></center>
    <th bgcolor="#cccccc">Data Nascimento</th>
    <th bgcolor="#cccccc">Nome Mãe</th>
    <th bgcolor="#cccccc">Endereço</th>
    <th bgcolor="#cccccc">N.</th>
    <th bgcolor="#cccccc">Bairro</th>
    <th bgcolor="#cccccc">Fone1</th>
    <th bgcolor="#cccccc">Resp</th>
    <th bgcolor="#cccccc">Trabalha</th>
    <th bgcolor="#cccccc">Opção 1</th>
    <th bgcolor="#cccccc">Opção 2</th>
    <th bgcolor="#cccccc">Classificação</th>
    <th bgcolor="#cccccc">Status</th>
    <th bgcolor="#cccccc">Unidade Matricula</th>
    </tr>

<% for crianca in @criancas %>
  <tr>
    <p><td><center><%=h crianca.nome.upcase %></center></td>
    <td><center><%=h crianca.nascimento.strftime("%d/%m/%y") %></center></td>
    <td><center><%=h crianca.mae.upcase %></center></td>
    <td><center><%=h crianca.endereco.upcase %></center></td>
    <td><center><%=h crianca.numero %></center></td>
    <td><center><%=h crianca.bairro.upcase %></center></td>
    <td><center><%=h crianca.tel1 %></center></td>
    <td><center><%=h crianca.parentesco %></center></td>
    <td><center><%=h crianca.verifica_trabalha %></center></td>
    <td><center><%=h crianca.opcao1.upcase %></center></td>
    <td><center><%=h crianca.opcao2.upcase %></center></td>
    <td><center><%=h crianca.onde_classifica.upcase %></center></td>
    <td><center><%=h crianca.conf_status %></center></td>
    <td><center><%=h crianca.onde_matricula.upcase %></center></td></p>
  </tr>
  <tr>
    <%  $teste = $teste + 1%>
    <div id="negrito">
       <td bgcolor="#cccccc"><%= link_to 'Exibir', crianca %></td>
       <td bgcolor="#cccccc"><%= link_to 'Alterar', edit_crianca_path(crianca) %></td>
       <td bgcolor="#cccccc"><%= link_to 'Apagar', crianca, :confirm =>	 'Confirma a deleção?', :method => :delete %></td>
    </div>

  </tr>


<% end %>

</table>
<br/>


<tr>
<p><font size=3>

 EXISTE(M) <%=h $teste %><%=h " " + crianca.tipo_consulta %>
<br /><br /><br />
</font></p>
</tr>
| <a href="javascript:window.print();">Imprimir</a>
| <%= link_to 'Voltar', criancas_path %>|

