<div id="topo">
<center><h1><br /><br />Relatório de Criancas</h1></center>
</div>

<div id="conteudo">

<table border="4" cellpadding="2" cellspacing="2" width="100%">
    <tr>
    <center><th>Nome</th></center>
    <th>Data Nascimento</th>
    <th>Endereço</th>
    <th>N.</th>
    <th>Compl</th>
    <th>Bairro</th>
    <th>Fone1</th>
    <th>Fone2</th>
    <th>Celular</th>
    <th>Resp</th>
    <th>Trabalha</th>
    <th>Local de Trabalho</th>
    <center><th>Onde fez matrícula</th></center>
    <center><th>Regiao de preferência</th></center>
    <th>Opção 1</th>
    <th>Opção 2</th>
    <th>Opção 3</th>
    <th>Opção 4</th>
    <th>Classificação</th>
    <th>Status</th>
    <th>Unidade Matricula</th>
  </tr>

<% for crianca in @criancas %>
  <tr>
    <p><td><center><%=h crianca.nome.upcase %></center></td></p>
    <p><td><center><%=h crianca.nascimento.strftime("%d/%m/%y") %></center></td></p>
    <p><td><center><%=h crianca.endereco.upcase %></center></td></p>
    <p><td><center><%=h crianca.numero %></center></td></p>
    <p><td><center><%=h crianca.complemento.upcase %></center></td></p>
    <p><td><center><%=h crianca.bairro.upcase %></center></td></p>
    <p><td><center><%=h crianca.tel1 %></center></td></p>
    <p><td><center><%=h crianca.tel2 %></center></td></p>
    <p><td><center><%=h crianca.celular %></center></td></p>
    <p><td><center><%=h crianca.parentesco %></center></td></p>
    <p><td><center><%=h crianca.verifica_trabalha %></center></td></p>
    <p><td><center><%=h crianca.local_trabalho.upcase %></center></td></p>
    <p><td><center><%= Unidade.find_by_id(crianca.unidade_id).nome.upcase %></center></td></p>
    <p><td><center><%= Regiao.find_by_id(crianca.regiao).nome.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao1.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao2.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao3.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao4.upcase %></center></td></p>
    <p><td><center><%= Grupo.find_by_id(crianca.grupo_id).nome.upcase %></center></td></p>
    <p><td><center><%=h crianca.conf_status.upcase %></center></td></p>
    <p><td><center><%=h crianca.onde_matricula.upcase %></center></td></p>
  </tr>
  <tr>
    <td><%= link_to 'Exibir', crianca %></td>
    <td><%= link_to 'Alterar', edit_crianca_path(crianca) %></td>
    <td><%= link_to 'Apagar', crianca, :confirm =>	 'Confirma a deleção?', :method => :delete %></td>
 </tr>
    

<% end %>
</table>
</div>
<br />

<%= link_to 'Cadastrar Criança', new_crianca_path %>




