<div id="topo">
<center><h1><br /><br />Relatório de Criancas</h1></center>
</div>

<div id="conteudo">

<table border ="1" cellpadding="2" cellspacing="2" width="100%" >
    <tr>
    <center><th bgcolor="#cccccc">Nome</th></center>
    <th bgcolor="#cccccc">Data Nascimento</th>
    <th bgcolor="#cccccc">Endereço</th>
    <th bgcolor="#cccccc">N.</th>
    <th bgcolor="#cccccc">Compl</th>
    <th bgcolor="#cccccc">Bairro</th>
    <th bgcolor="#cccccc">Fone1</th>
    <th bgcolor="#cccccc">Fone2</th>
    <th bgcolor="#cccccc">Celular</th>
    <th bgcolor="#cccccc">Resp</th>
    <th bgcolor="#cccccc">Trabalha</th>
    <th bgcolor="#cccccc">Local de Trabalho</th>
    <center><th bgcolor="#cccccc">Onde fez matrícula</th></center>
    <center><th bgcolor="#cccccc">Regiao de preferência</th></center>
    <th bgcolor="#cccccc">Opção 1</th>
    <th bgcolor="#cccccc">Opção 2</th>
    <th bgcolor="#cccccc">Opção 3</th>
    <th bgcolor="#cccccc" >Opção 4</th>
    <th bgcolor="#cccccc">Classificação</th>
    <th bgcolor="#cccccc">Status</th>
    <th bgcolor="#cccccc">Unidade Matricula</th>
  </tr>

<% for crianca in @criancas %>
  <tr>
    <p><td><center><%=h crianca.nome.upcase %></center></td></p>
    <p><td><center><%=h crianca.nascimento.strftime("%d/%m/%y") %></center></td></p>
    <p><td><center><%=h crianca.endereco.upcase %></center></td></p>
    <p><td><center><%=h crianca.numero %></center></td></p>
    <p><td><center><%=h crianca.complemento.upcase %></center></td></p>
    <p><td><center><%=h crianca.bairro.upcase %></center></td></p>
    <p><td><center><%=h crianca.tel1 %></center></td></p>
    <p><td><center><%=h crianca.tel2 %></center></td></p>
    <p><td><center><%=h crianca.celular %></center></td></p>
    <p><td><center><%=h crianca.parentesco %></center></td></p>
    <p><td><center><%=h crianca.verifica_trabalha %></center></td></p>
    <p><td><center><%=h crianca.local_trabalho.upcase %></center></td></p>
    <p><td><center><%= Unidade.find_by_id(crianca.unidade_id).nome.upcase %></center></td></p>
    <p><td><center><%= Regiao.find_by_id(crianca.regiao).nome.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao1.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao2.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao3.upcase %></center></td></p>
    <p><td><center><%=h crianca.opcao4.upcase %></center></td></p>
    <p><td><center><%= Grupo.find_by_id(crianca.grupo_id).nome.upcase %></center></td></p>
    <p><td><center><%=h crianca.conf_status.upcase %></center></td></p>
    <p><td><center><%=h crianca.onde_matricula.upcase %></center></td></p>
  </tr>
  <tr>
    <td><%= link_to 'Exibir', crianca %></td>
    <td><%= link_to 'Alterar', edit_crianca_path(crianca) %></td>
    <td><%= link_to 'Apagar', crianca, :confirm =>	 'Confirma a deleção?', :method => :delete %></td>
 </tr>
    

<% end %>
</table>
</div>
<br />

<%= link_to 'Cadastrar Criança', new_crianca_path %>




