<div id="conteudo">
<div id="topo">
<center><br/><h1>Cadastro de Crianças</h1></center>
</div>
<br />
<fieldset>
  <legend><font size=4>Dados da Criança</font></legend>
<p>
  <b>Nome:</b>
      <%=h @crianca.nome %><br />
  <b>Nascimento:   </b>
      <%=h @crianca.nascimento.strftime("%d/%m/%y")%> <br />
  <b>Classificação:</b>
      <%=h @crianca.grupo.nome + ' - ' %>
      <%=h @crianca.grupo.descricao	%> <br />
  <b>Endereço:      </b>
      <%=h @crianca.endereco%> 
      <%=h @crianca.numero%> <br />
  <b>Complemento:   </b>
      <%=h @crianca.complemento%> <br />
  <b>Bairro:        </b>
      <%=h @crianca.bairro%> <br />
  <b>Telefone 1:    </b>
      <%=h @crianca.tel1%> <br />
  <b>Telefone 2:    </b>
      <%=h @crianca.tel2%> <br />
  <b>Celular:       </b>
      <%=h @crianca.celular%> <br />
 </fieldset>
<br />
 <fieldset>
 <legend><font size=4>Acompanhante</font></legend>
  <p>
  <b>Responsável:   </b>
     <%=h @crianca.nome_responsavel%> <br />
  <b>Trabalha:      </b>
     <%=h @crianca.verifica_trabalha%> <br />
  <b>Local Trabalho:</b>
     <%=h @crianca.local_trabalho%> <br />
    </p>
  </fieldset>
  <br />
  <fieldset>
   <legend><font size=4>Dados da Inscrição</font></legend>
 <p>
 <b>Região onde fez a matricula: </b>
     <%=h @crianca.regiao_id %>
     <%= ' - ' + Regiao.find_by_id(@crianca.regiao_id).nome %><br />
  <b>Matrícula - Opção 1:       </b>
     <%= @crianca.opcao1 %><br />
  <b>Matrícula - Opção 2:       </b>
     <%= @crianca.opcao2 %><br />
  <b>Matrícula - Opção 3:       </b>
     <%= @crianca.opcao3 %><br />
  <b>Matrícula - Opção 4:       </b>
     <%= @crianca.opcao4 %><br />
  <b>Status: </b>
     <%=h @crianca.conf_status	%> <br />
  <b>Matriculado :     </b>  
     <%=h @crianca.verifica_matricula%> <br />
  <b>Un.Matriculada:</b>
    <%=h @crianca.onde_matricula %> <br />
 
 </p>
</fieldset>

</div>
<%= link_to 'Alterar', edit_crianca_path(@crianca) %> |
<%= link_to 'Voltar', criancas_path %>
