<div id="conteudo">
<div id="contador">

  <br/>
  <br/>
  <h2 align="center">CRIANÇAS MATRICULADAS SEM FICHA DE MATRICULA</h2>
<table border ="1" cellpadding="1" cellspacing="1" width="100%" frame="box" rules="all">
    <tr style="font-size:12px">
     <br/>

        <th bgcolor="gray">Nome</th>
    </tr>
    <% teste = 0 %>
    <%if @crianca == "Filtre pela criança desejada" %>
      <center><b><%= @crianca_anterior %></b></center>
      <br/>
    <%else%>
      <% for crianca in @crianca_anterior %>
        <tr>
          <%teste = teste +1%>
          <td><center><%=h crianca.nome %></center></td>
            <%  if current_user.has_role?('admin') or current_user.has_role?('seduc') then%>
              <div id="negrito">
                <div class="botao">
                  <td bgcolor="white" align="center"><%= link_to 'Gerar ficha matricula', new_crianca_matricula_path(crianca) %></td>
                </div>
              </div>
            <%else%>
              <%  if current_user.has_role?('escola') then%>
                <div id="negrito">
                  <td bgcolor="white" align="center"><%= link_to 'Exibir', crianca %></td>
                </div>
              <%end%>
        </tr>


            <%end%>


        
    <% end %>
  <%end%>

</table>
<br/>


<tr>
<p><font size=3>

 EXISTE(M) <%=h teste %> CRIANCA(S) MATRICULADA(S) SEM FICHA DE MATRICULA.
<br /><br /><br />
</font></p>
</tr>
<div class="botao">
  |<a href="javascript:window.print();">Imprimir</a>
</div>
</div>
</div>