
<div id="caixausuario">
<div id="posicaousuario">
<p>
<br/><br/><br/><br/>


  <h2 align="center"> <u>Criação de Senha de Acesso</u></h2>

   <%= error_messages_for :user %>
      <center>
       <% form_for :user, :url => users_path do |f| -%>
       <p><label for="login">Usuário:</label><br/>
       <%= f.text_field :login %></p>

       <p><label for="password">Senha:</label><br/>
       <%= f.password_field :password %></p>

       <p><label for="password_confirmation">Confirmação Senha:</label><br/>
       <%= f.password_field :password_confirmation %></p>

             <div id="aviso"></div>
       <p><%= submit_tag 'Increver-se' %></p>
      <% end -%>
      
     </center>
    <table width="100%">
     <tr>
       <td align="right">|<%= link_to 'Voltar', root_path %>|</td>
     </tr>
    </table>


</div>
</div>
<fieldset>
  <legend><font size=5>Observações:</font></legend>
   <div id="mensagem">
     1. Ao criar um usuário utilize o padrão <b> unidade.nome </b>- <i>ex: SEDUC.fulano</i><br/>
     2. Crie uma senha com no mínimo seis dígidos.<br/>
     3. A senha é responsabilidade do usuário. <br/>
     4. Todo usuário necessita de validação.<br>
     5. Ligue para Informática/SEDUC para validar usuário.<br/>
  </div>
</fieldset>


