<div id="topo">
    <h2 align="right">   Criação de Senha de Acesso    .</h2>
    <h4 align="right"> <font   color="#ff0000"> S I S M E R E N D A --  Ver.1.0    . </font></h4>
   <br/>
</div>


<div id="posicao">
<p>
<br/>

<fieldset>
  <h1 align="center"> <u>Senha de Acesso</u></h1>
    <br/>
   <%= error_messages_for :user %>
      <center>
       <% form_for :user, :url => users_path do |f| -%>
       <p><label for="login">Usuário:</label><br/>
       <%= f.text_field :login %></p>

       <p><label for="password">Senha:</label><br/>
       <%= f.password_field :password %></p>

       <p><label for="password_confirmation">Confirmação Senha:</label><br/>
       <%= f.password_field :password_confirmation %></p>

             <div id="aviso"></div>
       <p><%= submit_tag 'Increver-se' %></p>
      <% end -%>
     </center>
| <%=link_to 'Voltar', root_path%> |
</fieldset>
</div>
<div id="obs">
<fieldset>
  <legend><font size=5>Observações:</font></legend>
   <div id="mensagem">
     1. Ao criar um usuário utilize o padrão <b> unidade.nome</b><br/>
     2. Crie uma senha com no mínimo seis dígidos.<br/>
     3. A senha é responsabilidade do usuário. <br/>
     4. Todo usuário necessita de validação.<br>
     5. Ligue para Informática/SEDUC para validar usuário.<br/>
  </div>
</fieldset>
</div>


