<div id="conteudo">
  <div id="topo">
    <h1>Relatório de Grupos</h1>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.0.1       . </font></h4>
  </div>
  <p>
    | <%= link_to 'Cadastrar Grupo', new_grupo_path %> |
    <a href="javascript:window.print();">Imprimir</a>
    | <%= link_to ' Inicio' , root_path %> |

   <fieldset>
    <table>
      <tr>
        <th>Nome</th>
        <th>Descricão</th>
      </tr>
      <% for grupo in @grupos %>
        <tr>
          <td><%=h grupo.nome %></td>
          <td><%=h grupo.descricao %></td>
          <td><%= link_to 'Exibir', grupo %></td>
          <td><%= link_to 'Alterar', edit_grupo_path(grupo) %></td>
          <td><%= link_to 'Apagar', grupo, :confirm => 'Tem certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
   </fieldset>
  </p><br />
  | <%= link_to 'Cadastrar Grupo', new_grupo_path %> |
  <a href="javascript:window.print();">Imprimir</a>
  | <%= link_to ' Inicio' , root_path %> |
</div>
<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>
