<div id="conteudo">
  <div id="topo">
    <h1 align="right">Relatório Grupos</h1>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.5       . </font></h4>
  </div><br/>
  <p>
    | <%= link_to 'Cadastrar', new_grupo_path %> |
    <a href="javascript:window.print();">Imprimir</a>
    | <%= link_to ' Inicio' , root_path %> |

  <fieldset>
   <legend><font size=4>Grupos</font></legend>
   <table border ="1" cellpadding="5" cellspacing="1" width="30%" >
      <tr>
        <th bgcolor="#cccccc">Nome</th>
        <th bgcolor="#cccccc">Descricão</th>
      </tr>
      <% for grupo in @grupos %>
        <tr>
          <td><center><%=h grupo.nome %></center></td>
          <td><center><%=h grupo.descricao %></center></td>
        </tr>
        <tr>
          <td bgcolor="#cccccc"><%= link_to 'Exibir', grupo %></td>
          <td bgcolor="#cccccc"><%= link_to 'Alterar', edit_grupo_path(grupo) %></td>
          <td bgcolor="#cccccc"><%= link_to 'Apagar', grupo, :confirm => 'Tem certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
   </fieldset>
  </p><br />
  | <%= link_to 'Cadastrar', new_grupo_path %> |
  <a href="javascript:window.print();">Imprimir</a>
  | <%= link_to ' Inicio' , root_path %> |
</div>
<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>
