<div id="conteudo">
  <div id="topo">
    <h1 align="right">Cadastro de Grupo</h1>
    <h4 align="right" > <font   color="#ff0000"> S I S D E M A N  --  V1.5       . </font></h4>
  </div><br/>
  <fieldset>
   <legend><font size=4>Grupo</font></legend>
    <% form_for(@grupo) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :nome, 'Nome' %><br />
        <%= f.text_field :nome %>
      </p>

      <p>
        <%= f.label :descricao, 'Descricao' %><br />
        <%= f.text_area :descricao %>
      </p>
  </fieldset><br/>
 <fieldset>
      <p>
        <%= f.submit "Cadastrar" %>
      </p>
 </fieldset>
    <% end %>


<br/>
| <%= link_to 'Voltar', grupos_path %> |
</div>