<div id="conteudo">
<table bgcolor="red">
<p>
<div id="topo">
    <h2 align="right">   SISTEMA DE DEMANDA ESCOLAR - Secretaria de Educação</h2>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.5       . </font></h4>
   <br/>
</div>
 </p>
<br />

     <table width="100%">
    <%if logged_in? then%>

      <td width="55%">
                    Usuário: <font size="4" color="green"><%= current_user.login %> - </font>
            <% if current_user.has_role?('admin') %>
              Acesso de Administrador do Sistema
            <%else%>
              <% if current_user.has_role?('seduc') %>
               Acesso da Secretaria de Educação
              <%else%>
                <% if current_user.has_role?('externo') %>
                  Acesso de Visitante
                <%end%>
              <%end%>
            <%end%>

      </td>

            <td width="45%" align="right">
              <%= link_to '|Sair|', logout_path %>
              <%= link_to h(current_user.login.capitalize), user_path(current_user) %><font color="blue">|</font><br/>
</td>
    <%else%>
      <td><%= link_to '|Entrar|', login_path %></td>
    <%end%>
    </table>


</table>
<table align="center" border ="1" cellpadding="2" cellspacing="2" width="100%"  bgcolor="silver">
<tr>
<%  if current_user.has_role?('admin') then%>
<tr>
<td width="100%" colspan="6"><br/><center><font size="4"><%= link_to_remote('GERENCIAR USUÁRIOS', :url => { :action => "gen_user", :controller => 'home'}) %></font></center><br/></td>
</tr>
<%end%>
<%  if current_user.has_role?('admin') or current_user.has_role?('seduc') then%>
  <tr><td colspan="4"><br/><center><font size="4"><%= link_to "Controlar demanda", criancas_path %></font></center><br/></td></tr>
<%else%>
<% if current_user.has_role?('externo') then%>
  <tr><td colspan="4"><br/><center><font size="4"><%= link_to "Consultar demanda", criancas_path %></font></center><br/></td></tr>
<%end%>
<%end%>
<%  if current_user.has_role?('admin') or current_user.has_role?('seduc') then%>
<td><br/><center><font size="4"><%= link_to "Unidades", unidades_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Regiões", regiaos_path %></font></center><br/></td>
<td><br/><center><font size="4"><%= link_to "Grupos", grupos_path %></font></center><br/></td>
<%end%>
</tr>
<tr>

</tr>
</table>
</div>

<div id="rodape">
  © 2009 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
</div>
