<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>
<br/>
<div id ="conteudo">
    <h2 align="right">   FICHA DE PONTUAÇÃO DE PROFESSOR</h2>
<fieldset>
  <br/>
<% for professor in @professors %>
<table  width="100%" border="1" frame="box" rules="groups">
<tr>
    <td width="34%">
        <b>Matrícula:
          <%=h professor.matricula %><br/>
        <b>Nome:</b>
          <%=h professor.nome %></b><br/>
        <b>Data Ingresso:</b>
            <%if professor.dt_ingresso.nil? then %>
              <%=h professor.dt_ingresso %><br/>
            <%else%>
              <%=h professor.dt_ingresso.strftime("%d/%m/%y") %><br/>
            <%end%>
        <b>sede:</b>
          <%=h Unidade.find(professor.sede_id).nome%><br/>
        <b>Endereco:</b>
          <%=h professor.endres%>
        <b>No. </b>
          <%=h professor.num %><br/>
        <b>Bairro:</b>
          <%=h professor.bairro%><br/>
        <b>Observações:</b>
          <%=h professor.obs %><br/>

    </td>
    <td width="34%">
       <b>Ano:</b>
          <%= Time.current.strftime("%Y") %>

     <br/><br/>
      <b>Data Nascimento:</b>
    <% if professor.dt_nasc.nil? then %>
      <%=h professor.dt_nasc %><br/>
    <%else%>
      <%=h professor.dt_nasc.strftime("%d/%m/%y") %><br/>
    <%end%>

       <b>Jornada Semanal:</b>
          <%=h professor.jornada_sem%><br/><br/>
       <b>Telefone:</b>
          <%=h professor.telefone%><br/><br/>
    </td>
   <td >
         <br/>
         <b>No. Filhos:</b>
          <%=h professor.n_filhos%> <br/>
        <b>Função:</b>
          <%=h professor.funcao%> <br/><br/>
       <b>Cidade:</b>
          <%=h professor.cidade%><br/>

   </td>
 <tr/>
 <br/>
</table>
<% end %>

<table width="100%" frame="box" rules="all">
<tr><th width="100%" colspan="5" align="center"><hr/>Contagem de Tempo de Serviço<hr/></th></tr>
</table>


<table border="1" width="100%" frame="box" rules="all">


<tr>
    <th>Ano</th>
    <th>Dias</th>
    <th>Unidade</th>
    <th>Outro Emprego</th>
    <th>Faltas Abonadas</th>
    <th>Faltas Atestados</th>
    <th>Faltas Justif.</th>
    <th>Faltas Injust.</th>
    <th>Licenças Saúde</th>
    <th>Afast. / não remun.</th>
    <th>Dias Trabalhados</th>
    <th>Dias Efeivos</th>
    <th>Dias Rede</th>
    <th>Dias Unidade</th>
  </tr>



<% for trabalho in @trabalho %>
  <tr>
    <td>
      <center> <%= trabalho.ano %><br/></center>
    </td>
     <td>
      <center><%= trabalho.dias%><br/></center>
     </td>
     <td>
        <center><%= trabalho.unidade %><br/></center>
     </td>
     <td>
        <center><%= trabalho.outro_trab %> <br/></center>
     </td>

     <td>
        <center><%= trabalho.f_abonada %><br/></center>
     </td>
     <td>
        <center><%= trabalho.atestado %><br/></center>
     <td>
        <center><%= trabalho.f_justif %><br/></center>
     </td>
     <td>
        <center><%= trabalho.f_injustif %><br/></center>
    </td>
    <td>
        <center><%= trabalho.lic_saude %><br/></center>
    </td>
    <td width ="7%">
        <center><%= trabalho.afastamento %></center>
    </td>
    <td width ="7%">
      <center><%= $st_dt = trabalho.dias_trab %></center>
      <% $soma_st_dt = $soma_st_dt + $st_dt %>
    </td>
    <td width ="7%">
      <center><%= $st_de = trabalho.dias_efetivos %></center>
      <% $soma_st_de = $soma_st_de + $st_de %>
    </td>
    <td width ="7%">
      <center><%= $st_dr = trabalho.dias_rede %></center>
      <% $soma_st_dr = $soma_st_dr + $st_dr %>

    </td>
    <td width ="7%">
      <center><%= $st_du = trabalho.dias_unidade %></center>
      <% $soma_st_du = $soma_st_du + $st_du %>
    </td>

<%end%>
    <tr>
      <td colspan="10">
        <b>Sub-Total (Em Dias)</b>
      </td>
      <td align="center"><%= $total_dt_ano = Professor.sub_total_dt.to_s %></td>
      <td align="center"><%= $total_de_ano = Professor.sub_total_de.to_s %></td>
      <td align="center"><%= $total_dr_ano = Professor.sub_total_dr.to_s %></td>
      <td align="center"><%= $total_du_ano = Professor.sub_total_du.to_s %></td>
    </tr>


<table border="1" width="100%" frame="box" rules="groups">
  <tr>
    <td align="center" width="100%">
      <hr>
      <b>Pontuacao Tempo de Serviço</b>
      <hr>
      </td>
  </tr>
</table>
<table border="1" frame="box" rules="all" width="100%">
  <tr>
    <th width="25%" >Descrição</th>
    <th width="10%" >Total Anterior</th>
    <th width="10%" >Período 01/11 à 31/12</th>
    <th width="10%" >01/01 à 31/10</th>
    <th width="10%" >Total</th>
    <th width="10%" >Pontuação</th>
    <th width="10%" colspan="2" >Valor</th>
  </tr>
  <tr>


    <% @lista_dados = AcumTrab.find(:all, :conditions => ['professor_id = ' + $professor]) %>
    <%  for ld in @lista_dados %>
      <% $exibe_dias_ant_trab_ano = ld.tot_acum_ant_trab %>
      <% $exibe_dias_ant_efet_ano = ld.tot_acum_ant_efet %>
      <% $exibe_dias_ant_rede_ano = ld.tot_acum_ant_rede %>
      <% $exibe_dias_ant_unid_ano = ld.tot_acum_ant_unid %>


      <% $exibe_dias_trab_ano = ld.tot_acum_trab %>
      <% $exibe_dias_efet_ano = ld.tot_acum_efet %>
      <% $exibe_dias_rede_ano = ld.tot_acum_rede %>
      <% $exibe_dias_unid_ano = ld.tot_acum_unid %>
      <% $exibe_tot_trab = ld.valor_trab %>
      <% $exibe_tot_efet = ld.valor_efet %>
      <% $exibe_tot_rede = ld.valor_rede %>
      <% $exibe_tot_unid = ld.valor_unid %>
      <% $exibe_tot_geral_trab = ld.tot_geral_trab %>
      <% $exibe_tot_geral_efet = ld.tot_geral_efet %>
      <% $exibe_tot_geral_rede = ld.tot_geral_rede %>
      <% $exibe_tot_geral_unid = ld.tot_geral_unid %>

    <%end%>
    <%  @dias_trab_anterior = Trabalhado.find(:all, :conditions => ['ano = ' + $data2.to_s + ' and professor_id= ' + $professor]) %>
    <%  for ano_anterior in @dias_trab_anterior %>
          <% $exibe_ano_anterior_dias_trab = ano_anterior.dias_trab %>
          <%$exibe_ano_anterior_dias_efet = ano_anterior.dias_efetivos%>
          <%$exibe_ano_anterior_dias_rede = ano_anterior.dias_rede%>
          <%$exibe_ano_anterior_dias_unid = ano_anterior.dias_unidade%>
       <%end%>
      <%@dias_trab_atual = Trabalhado.find(:all, :conditions => ['ano = ' + $data.to_s + ' and professor_id= ' + $professor])%>
        <% for ano_atual in @dias_trab_atual%>
        <%  $exibe_ano_atual_dias_trab = ano_atual.dias_trab%>
        <%  $exibe_ano_atual_dias_efet = ano_atual.dias_efetivos%>
        <%  $exibe_ano_atual_dias_rede = ano_atual.dias_rede%>
        <%  $exibe_ano_atual_dias_unid = ano_atual.dias_unidade%>
       <%end%>
        <%@acum_pont = AcumTrab.find(:all, :conditions => ['professor_id= ' + $professor])%>
       <%for pontuacao in @acum_pont%>
        <%$exibe_pont_trab = pontuacao.pont_base_trab%>
        <%$exibe_pont_efet = pontuacao.pont_base_efet%>
        <%$exibe_pont_rede = pontuacao.pont_base_rede%>
        <%$exibe_pont_unid = pontuacao.pont_base_unid%>
       <%end%>

<td> 1 - Total de dias trabalhados </td>
    <td align="center"><%=$exibe_dias_ant_trab_ano%></td>
    <td align="center"><%= $exibe_ano_anterior_dias_trab %></td>
    <td align="center"><%= $exibe_ano_atual_dias_trab %></td>
    <td align="center"><%= format("%.0f",$exibe_tot_geral_trab)%></td>
    <td align="center"><%= $exibe_pont_trab %></td>
    <td align="right"><%= format("%.3f",$exibe_tot_trab) %></td>

  </tr>
  <tr>
    <td>2 - Total de dias de efetivo exercício </td>
    <td align="center"><%=$exibe_dias_ant_efet_ano%></td>
    <td align="center"><%= $exibe_ano_anterior_dias_efet %></td>
    <td align="center"><%= $exibe_ano_atual_dias_efet %></td>
    <td align="center"><%= format("%.0f", $exibe_tot_geral_efet) %></td>
    <td align="center"><%= $exibe_pont_efet %></td>
    <td align="right"><%= format("%.3f",$exibe_tot_efet) %></td>
  </tr>
  <tr>
    <td>3 - Total de dias na rede </td>
    <td align="center"><%=$exibe_dias_ant_rede_ano%></td>
    <td align="center"><%= $exibe_ano_anterior_dias_rede %></td>
    <td align="center"><%= $exibe_ano_atual_dias_rede %></td>
    <td align="center"><%= format("%.0f",$exibe_tot_geral_rede) %></td>
    <td align="center"><%= $exibe_pont_rede %></td>
    <td align="right"><%= format("%.3f",$exibe_tot_rede) %></td>


  </tr>
  <tr>
    <td>4 - Total de dias na unidade </td>
    <td align="center"><%=$exibe_dias_ant_unid_ano%></td>
    <td align="center"><%= $exibe_ano_anterior_dias_unid %></td>
    <td align="center"><%= $exibe_ano_atual_dias_unid %></td>
    <td align="center"><%= format("%.0f",$exibe_tot_geral_unid) %></td>
    <td align="center"><%= $exibe_pont_unid %></td>
    <td align="right"><%= format("%.3f",$exibe_tot_unid) %></td>
    <% $subtotal_dias = format("%.3f",($exibe_tot_trab + $exibe_tot_efet + $exibe_tot_rede + $exibe_tot_unid).to_f) %>
  </tr>
  <tr>
    <th align="left" width="80%" colspan="6">
    TOTAL TEMPO DE SERVIÇO
    </th>
    <th align="right" width="20%" colspan="2">
      <%= $subtotal_dias %>
    </th>
  </tr>

</table>
</table>


<% $subtot_perm = 0 %>
<% $subtot_um = 0 %>
<% $subtot_cinco = 0 %>
<% $subtotal_titulos = 0 %>

<table width="100%" frame="box" rules="all">
<tr><th width="100%" colspan="6" align="center">Títulos de Contagem Anual</th></tr>
<%$numero=1%>
     <tr>
       <th width="35%">
        Título
       </th>
       <th width="20%">
        Descrição
       </th>

       <th width="10%">
        Valor Título
       </th>
       <th width="10%">
        Quantidade
       </th>
       <th width="10%">
        Valor Referência
       </th>
       <th width="15%">
        Pontuação Obtida
       </th>
   </tr>
<%for tp1 in @tp1%>
     <tr>
     <%if tp1.status == true then%>
      <td width="35%" align="left">
        <%= $numero %> -
        <%= Titulacao.find_by_id(tp1.titulo_id).descricao %>
      </td>
      <td width="20%" align="center">
        <%= tp1.obs %>
     </td>
      <td width="10%" align="center">
        <%= tp1.valor %>
     </td>
      <td width="10%" align="center">
        <%= tp1.quantidade %>
      </td>
      <td width="10%" align="center">
        <%= tp1.referencia%>
      </td>
      <td width="15%" align="right">
        <%= format("%.3f",tp1.pontuacao_titulo) %>
        <% $subtot_um = $subtot_um + (tp1.pontuacao_titulo).to_f %>
      </td>
     <%end%>
   </tr>
<%$numero= $numero +1%>
  <%end%>
<tr>
  <th width="80%" colspan="4" align="left">SUB-TOTAL (Titulação Anual)</th>
  <th  align="right" colspan="2">
    <%= format("%.3f",$subtot_um) %>
  </th>
</tr>
</table>


<table width="100%" frame="box" rules="all">
<tr><th width="100%" colspan="6" align="center">Títulos de Contagem Permanente</th></tr>

     <%$numero=1%>
     <tr>
       <th width="35%">
        Título
       </th>
       <th width="20%">
        Descrição
       </th>

       <th width="10%">
        Valor Título
       </th>
       <th width="10%">
        Quantidade
       </th>
       <th width="10%">
        Valor Referência
       </th>
       <th width="15%">
        Pontuação Obtida
       </th>
     </tr>
<%for tp in @tp%>
    <tr>
      <td width="35%" align="left">
        <%= $numero %> -
         <%= Titulacao.find_by_id(tp.titulo_id).descricao %>
      </td>
      <td width="20%" align="center">
        <%= tp.obs%>
      </td>

      <td width="10%" align="center">
        <%= tp.valor%>
      </td>

      <td width="10%" align="center">
        <%= tp.quantidade %>
      </td>
      <td width="10%" align="center">
        <%= tp.referencia %>
      </td>
      <td width="15%" align="right">
        <%= format("%.3f",tp.pontuacao_titulo) %>
        <% $subtot_perm = $subtot_perm + (tp.pontuacao_titulo).to_f %>
      </td>

   </tr>
  <%$numero= $numero +1%>
 <%end%>
<tr>
  <th width="80%" colspan="4" align="left">SUB-TOTAL (Titulação Permanente)</th>
  <th align="right" colspan="2">
    <%= format("%.3f",$subtot_perm) %>
  </th>
</tr>
<% $subtotal_titulos = $subtot_um + $subtot_cinco + $subtot_perm %>
<tr>
  <th width="80%" colspan="4" align="left">TOTAL TÍTULOS</th>

  <th align="right" colspan="2">
    <%= format("%.3f",$subtotal_titulos) %>
  </th>
</tr>
</table>



<br/>
<table width="100%" border="1" frame="box" rules="all">
  <tr>
    <th width="80%" align="left">
      TOTAL GERAL          <%= Time.current.strftime("%Y") %>
    </th>
    <th align="right">
      <%= @totaliza = format("%.3f",Professor.find($professor).pontuacao_final)  %>
    </th>
  </tr>
</table>
<br/>


<% $anoA = Time.current-1.years %>
<br/>
 <table  width="100%">
   <tr>
    <td width="35%">Data Base: 01/11/<%= $anoA.strftime("%Y")%>           à 31/10/<%= Time.current.strftime("%Y") %><br/><br/></td>
    <td width="35%">Professor:________________________________<br/><br/></td>
    <td width="50%">Diretor Unidade:_______________________<br/><br/></td>
   </tr>
   <tr>
    <td width="35%">Data Assinatura: _______/________/________<br/><br/></td>
    <td width="35%">Visto da Comissão:________________________<br/><br/></td>
    <td width="50%">Responsável Digitação:_____________________<br/><br/></td>
    </tr>
  </table>
</fieldset>
</div>
<div id="conteudo">
<div class="botao">
    <table width="100%">
    <tr>
      <td>| <%= link_to 'Voltar', professors_path %> |</td>
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
  </table>

</div>
</div>