<script Language="JavaScript">
function Imprimir(){
window.print();
}
</script>
<style media="print">
.botao {
display: none;
}
</style>



<div id="conteudo">
<p>
    <h2 align="right">   Cadastro de Professores</h2>
      <br/>
<%if $tipo_con == 3 then %>
     <table width="100%">
    <tr>
      <td>|<%= link_to_remote('Voltar', :url => { :action => "consulta"}) %>  |</td>
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
   </table>
<%else%>
<%= link_to_remote('Voltar', :update => "conteudo", :url => {:controller => 'professors', :action => 'relatorio'}) %>
<%end%>
   <br/>


<fieldset>
 <legend><font size=5>Professor</font></legend>
<%  $teste = 0%>
 <table border ="1" cellpadding="1" cellspacing="1" width="100%" frame="box" rules="all" >
    <tr>
    <center><th bgcolor="#cccccc">Nome</th></center>
    <th bgcolor="#cccccc">Matrícula</th>
    <th bgcolor="#cccccc">Data Ingresso</th>
    <th bgcolor="#cccccc">Sede</th>
    <th bgcolor="#cccccc">Endereço Residencial</th>
    <th bgcolor="#cccccc">No.</th>
    <th bgcolor="#cccccc">Cidade</th>
    <th bgcolor="#cccccc">Data Nacimento</th>
    <th bgcolor="#cccccc">No. RG</th>
    <th bgcolor="#cccccc">No. CPF</th>
    <th bgcolor="#cccccc">No. INEP</th>
    <th bgcolor="#cccccc">No. RD</th>

    <th bgcolor="#cccccc">Jornada Semanal</th>
    <th bgcolor="#cccccc">Fone Residencial</th>
    <th bgcolor="#cccccc">Função</th>
    <th bgcolor="#cccccc">Observações</th>
  </tr>

<% for professor in @professors %>
  <tr>
    <br/>
    <td><center><%=h professor.nome.upcase %></center></td>
    <td><center><%=h professor.matricula %></center></td>
    <%if professor.dt_ingresso.nil? then %>
      <td><center><%=h professor.dt_ingresso %></center></td>
    <%else%>
      <td><center><%=h professor.dt_ingresso.strftime("%d/%m/%y") %></center></td>
    <%end%>
    <td><center><%=h Unidade.find(professor.sede_id).nome %></center></td>
    <td><center><%=h professor.endres %></center></td>
    <td><center><%=h professor.num %></center></td>
     <td><center><%=h professor.cidade %></center></td>
    <% if professor.dt_nasc.nil? then %>
      <td><center><%=h professor.dt_nasc %></center></td>
    <%else%>
      <td><center><%=h professor.dt_nasc.strftime("%d/%m/%y") %></center></td>
    <%end%>
    <td><center><%=h professor.RG%></center></td>
    <td><center><%=h professor.CPF %></center></td>
    <td><center><%=h professor.INEP%></center></td>
    <td><center><%=h professor.RD %></center></td>
    <td><center><%=h professor.jornada_sem %></center></td>
    <td><center><%=h professor.telefone %></center></td>
    <td><center><%=h professor.funcao %></center></td>
    <td><center><%=h professor.obs %></center></td>
  </tr>

    <tr>
      <br/>
      <td>| <%= link_to 'Exibir', professor %> |</td>
      <td>| <%= link_to 'Alterar', edit_professor_path(professor) %> |</td>
      <td colspan="12">| <%= link_to 'Apagar', professor, :confirm => 'Tem certeza?', :method => :delete %> |</td>
  </tr>
  <%  $teste = $teste + 1%>
<% end %>
</table>



<br/>
 <font size=3 color="green">O sistema possui, <%=h $teste %> professores cadastrados</font>




</fieldset>

   <%if $tipo_con == 3 then %>
     <table width="100%">
    <tr>
      <td>|<%= link_to_remote('Voltar', :url => { :action => "consulta"}) %>  |</td>
      <td align="right"><input type="Button" Value="Imprimir" onclick="Imprimir()"></td>
    </tr>
   </table>

  <%else%>
   <%= link_to_remote('Voltar', :update => "conteudo", :url => {:controller => 'professors', :action => 'relatorio'}) %>
  <%end%>

</div>
