
<table border="1" width="100%" frame="box" rules="all">
<tr>
    <th>Ano</th>
    <th>Dias</th>
    <th>Unidade</th>
    <th>Outro Emprego</th>
    <th>Faltas Abonadas</th>
    <th>Faltas Atestados</th>
    <th>Faltas Justif.</th>
    <th>Faltas Injust.</th>
    <th>Licenças Saúde</th>
    <th>Afast. não remun.</th>
    <th>Dias Trabalhados</th>
    <th>Dias Efeivos</th>
    <th>Dias Rede</th>
    <th>Dias Unidade</th>
  </tr>



<% for trabalho in @trabalho %>
  <tr>
    <td>
      <center> <%= trabalho.ano %><br/></center>
    </td>
     <td>
      <center><%= trabalho.dias%><br/></center>
     </td>
     <td>
        <center><%= trabalho.unidade %><br/></center>
     </td>
     <td>
        <center><%= trabalho.outro_trab %> <br/></center>
     </td>

     <td>
        <center><%= trabalho.f_abonada %><br/></center>
     </td>
     <td>
        <center><%= trabalho.atestado %><br/></center>
     <td>
        <center><%= trabalho.f_justif %><br/></center>
     </td>
     <td>
        <center><%= trabalho.f_injustif %><br/></center>
    </td>
    <td>
        <center><%= trabalho.lic_saude %><br/></center>
    </td>
    <td width ="7%">
        <center><%= trabalho.afastamento %></center>
    </td>
    <td width ="7%">
      <center><%= $st_dt = trabalho.dias_trab %></center>
      <% $soma_st_dt = $soma_st_dt + $st_dt %>
    </td>
    <td width ="7%">
      <center><%= $st_de = trabalho.dias_efetivos %></center>
      <% $soma_st_de = $soma_st_de + $st_de %>
    </td>
    <td width ="7%">
      <center><%= $st_dr = trabalho.dias_rede %></center>
      <% $soma_st_dr = $soma_st_dr + $st_dr %>

    </td>
    <td width ="7%">
      <center><%= $st_du = trabalho.dias_unidade %></center>
      <% $soma_st_du = $soma_st_du + $st_du %>
    </td>
  </tr>
<%end%>
    <tr>
      <th colspan="10">
        Sub-Total (Em Dias)
      </th>
      <td align="center"><%= $total_dt_ano = Professor.sub_total_dt.to_s %></td>
      <td align="center"><%= $total_de_ano = Professor.sub_total_de.to_s %></td>
      <td align="center"><%= $total_dr_ano = Professor.sub_total_dr.to_s %></td>
      <td align="center"><%= $total_du_ano = Professor.sub_total_du.to_s %></td>
    </tr>
      <tr>
        <td width="100%" colspan="15" align="right">| <%= link_to  'Alterar', trabalhados_path %> |</td>
      </tr>


<table border="1" width="100%" frame="box" rules="groups">
  <tr>
    <td align="center" width="100%">
      <hr>
      <b>Pontuacao</b>
      <hr>
      </td>
  </tr>
</table>
<table border="1" frame="box" rules="all" width="100%">
  <tr>
    <th width="25%" >Descrição</th>
    <th width="10%" >Total Acumulado</th>
    <th width="10%" >01/11 à 31/12</th>
    <th width="10%" >01/01 à 31/10</th>
    <th width="10%" >Total</th>
    <th width="10%" >Pontuação</th>
    <th width="10%" colspan="2" >Valor</th>
  </tr>
  <tr>
    <td>1 - Total de dias trabalhados </td>
    <td><center><%= $acum_dias_trab_ano %></center></td>
    <td><center><%= $ano_anterior_dias_trab %></center></td>
    <td><center><%= $ano_atual_dias_trab %></center></td>
    <td><center><%= $total_trab_g   %> </center></td>
    <td><center><%= $pont_trab %></center></td>
    <td><center><%= $total_trab %></center></td>

  </tr>
  <tr>
    <td>2 - Total de dias de efetivo exercício </td>
    <td><center><%= $acum_dias_efet_ano %></center></td>
    <td><center><%= $ano_anterior_dias_efet %></center></td>
    <td><center><%= $ano_atual_dias_efet %></center></td>
    <td><center><%= $total_efet_g %></center></td>
    <td><center><%= $pont_efet %></center></td>
    <td><center><%= $total_efet %></center></td>
  </tr>
  <tr>
    <td>3 - Total de dias na rede </td>
    <td><center><%= $acum_dias_rede_ano%></center></td>
    <td><center><%= $ano_anterior_dias_rede %></center></td>
    <td><center><%= $ano_atual_dias_rede %></center></td>
    <td><center><%= $total_rede_g %></center></td>
    <td><center><%= $pont_rede %></center></td>
    <td><center><%= $total_rede %></center></td>


  </tr>
  <tr>
    <td>4 - Total de dias na unidade </td>
    <td><center><%= $acum_dias_unid_ano%></center></td>
    <td><center><%= $ano_anterior_dias_unid %></center></td>
    <td><center><%= $ano_atual_dias_unid %></center></td>
    <td><center><%= $total_unid_g %></center></td>
    <td><center><%= $pont_unid %></center></td>
    <td><center><%= $total_unid %></center></td>

  </tr>

</table>
</table>
<div id="eu">

    <%  @acum = AcumTrab.find(:all, :conditions => ['professor_id=' + $professor]) %>
    <%  if (@acum).nil? or (@acum).empty? then %>
      <%  @acum = AcumTrab.new %>
      <% form_for(@acum) do |f| %>
        <%= f.error_messages %>
        <%= f.hidden_field(:professor_id, :value => $professor)   %>
        <%= f.hidden_field(:tot_acum_trab, :value => $total_trab) %>
        <%= f.hidden_field(:tot_acum_efet, :value => $total_efet) %>
        <%= f.hidden_field(:tot_acum_rede, :value => $total_rede) %>
        <%= f.hidden_field(:tot_acum_unid, :value => $total_unid) %>
        <%= f.hidden_field(:tot_geral_trab, :value => $total_trab_g) %>
        <%= f.hidden_field(:tot_geral_efet, :value => $total_efet_g) %>
        <%= f.hidden_field(:tot_geral_rede, :value => $total_rede_g) %>
        <%= f.hidden_field(:tot_geral_unid, :value => $total_unid_g) %>
        <%= f.hidden_field(:tot_acum_ant_trab, :value => $anterior_dias_trab) %>
        <%= f.hidden_field(:tot_acum_ant_efet, :value => $anterior_dias_efet) %>
        <%= f.hidden_field(:tot_acum_ant_rede, :value => $anterior_dias_rede) %>
        <%= f.hidden_field(:tot_acum_ant_unid, :value => $anterior_dias_unid) %>
        <%= f.hidden_field(:pont_base_trab, :value => $pont_trab) %>
        <%= f.hidden_field(:pont_base_efet, :value => $pont_efet) %>
        <%= f.hidden_field(:pont_base_rede, :value => $pont_rede) %>
        <%= f.hidden_field(:pont_base_unid, :value => $pont_unid) %>
        <%= f.hidden_field(:valor_trab, :value => $total_trab) %>
        <%= f.hidden_field(:valor_efet, :value => $total_efet) %>
        <%= f.hidden_field(:valor_rede, :value => $total_rede) %>
        <%= f.hidden_field(:valor_unid, :value => $total_unid) %>

        <%if $existe == 0 then%>
            <%= f.submit "Salvar", :controller => 'acum_trabs/edit' %>
        <%end%>
    <% end %>

 <% else %>
    <% form_for(@acum) do |f| %>
      <%= f.error_messages %>
        <%= f.hidden_field(:professor_id, :value => $professor)   %>
        <%= f.hidden_field(:tot_acum_trab, :value => $total_trab_g) %>
        <%= f.hidden_field(:tot_acum_efet, :value => $total_efet_g) %>
        <%= f.hidden_field(:tot_acum_rede, :value => $total_rede_g) %>
        <%= f.hidden_field(:tot_acum_unid, :value => $total_unid_g) %>
        <%= f.hidden_field(:tot_geral_trab, :value => $total_trab_g) %>
        <%= f.hidden_field(:tot_geral_efet, :value => $total_efet_g) %>
        <%= f.hidden_field(:tot_geral_rede, :value => $total_rede_g) %>
        <%= f.hidden_field(:tot_geral_unid, :value => $total_unid_g) %>
        <%= f.hidden_field(:tot_acum_ant_trab, :value => $anterior_dias_trab) %>
        <%= f.hidden_field(:tot_acum_ant_efet, :value => $anterior_dias_efet) %>
        <%= f.hidden_field(:tot_acum_ant_rede, :value => $anterior_dias_rede) %>
        <%= f.hidden_field(:tot_acum_ant_unid, :value => $anterior_dias_unid) %>
        <%= f.hidden_field(:pont_base_trab, :value => $pont_trab) %>
        <%= f.hidden_field(:pont_base_efet, :value => $pont_efet) %>
        <%= f.hidden_field(:pont_base_rede, :value => $pont_rede) %>
        <%= f.hidden_field(:pont_base_unid, :value => $pont_unid) %>
        <%= f.hidden_field(:valor_trab, :value => $total_trab) %>
        <%= f.hidden_field(:valor_efet, :value => $total_efet) %>
        <%= f.hidden_field(:valor_rede, :value => $total_rede) %>
        <%= f.hidden_field(:valor_unid, :value => $total_unid) %>
     <div id="botao">
     </div>
        <%if $existe == 0 then%>
            <%= f.submit "Salvar", :controller => 'acum_trabs/edit' %>
        <%end%>
     <% end %>

    <%  end %>

</div>
