  <fieldset>

   <legend><font size=4>Pontuação por Titulação</font></legend>



<% form_for(@titulacao) do |f| %>
  <%= f.error_messages %>
  <table border="1" width="100%" frame="box" rules="all">

 <tr>
  <td>
    <%= f.label :titulo, "Título" %>
    <%= f.collection_select :id, @titulos, :id, :descricao, :include_blank => '---Selecione---' %>
  
  </td>
  <td>
    <%= f.label :tipo, 'Tipo de Título' %>
    <%= f.select :tipo, TIPO_TITULO, :include_blank => ''%><br/>
  </td>
  <td>
   <%= f.label :descricao, 'Descrição : ' %>
   <%= f.text_field :descricao, :size => 43 %><br/>
  </td>
  <td>
   <%= f.label :referencia, 'Referência' %>
   <%= f.select :referencia, REFERENCIA, :include_blank => ''%><br/>
  </td>
  <td>
   <%= f.label :dt_titulo, 'Data de Emissão do Título : ' %>
   <%= f.date_select :dt_titulo, :order => [:day, :month, :year] %><br/>
  </td>
  <td>
   <%= f.label :dt_validade, 'Validate do Titulo : ' %>
   <%= f.date_select(:dt_validade, :order => [:day, :month, :year]) %><br/>
  </td>
  <td>
   <%= f.label :valor, 'Valor de multiplicação do Título: ' %>
   <%= f.text_field :valor, :size => 5 %><br/>
  </td>

 </tr>

 </table>

    <p>
    <%= f.submit "Salvar",:controler => "titulacaos" %>
  </p>
<% end %>

  | <%= link_to 'Voltar', professors_path %> |
  </fieldset>