<br/>
<div id="prof_pontua">
<div id="conteudo">
<br/>
<div id="menu">
<div id="menu_principal">

<div id="submenu">
  <ul>
   <li><%= link_to 'Cadastrar', new_professor_path %></li>
   <li><%= link_to_remote('Tempo de Serviço', :update =>  "prof_pontua", :url => { :action => "tempo_servico", :controller => 'professors'}) %></li>
   <li><%= link_to_remote('Títulos',:update => "prof_pontua", :url => { :action => "pontua_prof"}) %></li>
   <%  if current_user.has_role?('direcao') or (current_user.has_role?('supervisao')) or (current_user.has_role?('admin'))%>
     <li><%= link_to_remote('Executar', :update => "conteudo", :url => { :action => "executar"}) %></li>
     <li><%= link_to_remote('Consultar', :url => { :action => "consulta"}) %></li>
    <%end%>
    <li><%= link_to_remote('Relatórios', :update => "conteudo", :url => { :action => "relatorio"}) %> </li>
  </ul>
</div>

</div>
</div>


    <div id="tempo_serv"></div>

    <div id="titula"></div>

</div>
</div>

<% $data = Time.current.strftime("%Y") %>
