<div id="conteudo">
<h1>Gerar Ficha de Matricula para a criança - <%=  @crianca.nome%></h1>

<% form_for([@crianca,@matricula]) do |f| %>
  <%= f.error_messages %>
<table border="1">
  <tr>
    <td colspan="6" align="center">
      <%= f.label :ra %>
      <%= f.text_field :ra %>
    </td>
  </tr>
  <tr>
    <td width="1%" colspan="6">
      <%= f.label :unidade_id,"Unidade" %>
      <%= f.collection_select :unidade_id,@unidade,:id,:nome %>
    </td>
  </tr>
  <tr>
    <td width="1%">
      <%= f.label :ano_1,"ANO" %>
      <%= f.select :ano_1, Matricula::ANO %>
    </td>
    <td width="2%">
      <%= f.label :grupo_1,"GRUPO" %>
      <%= f.collection_select :grupo_1,@grupo,:id,:nome %>
    </td>
    <td width="4%">
      <%= f.label :pc_manha_1,"PC MANHÃ" %>
      <%= f.text_field :pc_manha_1 %>
    </td>
    <td width="4%">
      <%= f.label :pc_tarde_1,"PC TARDE" %>
      <%= f.text_field :pc_tarde_1 %>
    </td>
  </tr>
  <tr>
    <td width="1%">
    <%= f.label :ano_2,"ANO" %>
    <%= f.select :ano_2, Matricula::ANO %>
    </td>
    <td width="2%">
      <%= f.label :grupo_2,"GRUPO" %>
      <%= f.collection_select :grupo_2,@grupo,:id,:nome %>
    </td>
    <td width="4%">
      <%= f.label :pc_manha_2,"PC MANHÃ" %>
      <%= f.text_field :pc_manha_2 %>
    </td>
    <td width="4%">
      <%= f.label :pc_tarde_2,"PC TARDE" %>
      <%= f.text_field :pc_tarde_2 %>
    </td>
  </tr>
  <tr>
    <td width="1%">
      <%= f.label :ano_3,"ANO" %>
      <%= f.select :ano_3, Matricula::ANO %>
    </td>
    <td width="2%">
      <%= f.label :grupo_3,"GRUPO" %>
      <%= f.collection_select :grupo_3,@grupo,:id,:nome %>
    </td>
    <td width="4%">
      <%= f.label :pc_manha_3,"PC MANHÃ" %>
      <%= f.text_field :pc_manha_3 %>
    </td>
    <td width="4%">
      <%= f.label :pc_tarde_3,"PC TARDE" %>
      <%= f.text_field :pc_tarde_3 %>
    </td>
  </tr>

  <tr>
    <td width="1%">
      <%= f.label :ano_4,"ANO" %>
      <%= f.select :ano_4, Matricula::ANO %>
    </td>
    <td width="2%">
      <%= f.label :grupo_4,"GRUPO" %>
      <%= f.collection_select :grupo_4,@grupo,:id,:nome %>
    </td>
    <td width="4%">
      <%= f.label :pc_manha_4,"PC MANHÃ" %>
      <%= f.text_field :pc_manha_4 %>
    </td>
    <td width="4%">
      <%= f.label :pc_tarde_4,"PC TARDE" %>
      <%= f.text_field :pc_tarde_4 %>
    </td>
  </tr>
  </table>
  <h1 align="center">FICHA DE MATRICULA / CRECHE</h1>
  <fieldset>
    <legend>1 - Identificação da Criança</legend>
  <table border="1" width="100%">
  <tr>
    <td colspan="5">      
      <h3>1.1 Nome: <%= @crianca.nome%></h3>
      <hr width="100%">
    </td>
  </tr>
  <tr>
    <td width="25%">
      <h3>1.2 Data de Nasc. <u><%= @crianca.nascimento.strftime("%d/%m/%y")%></u></h3>
    </td>
    <td width="35%">
      <%= f.label :local_nascimento,"Local: " %>
      <%= f.text_field :local_nascimento, :size => 20 %>
    </td>
    <td width="20%">
      <%= f.label :uf,"Estado: " %>
      <%= f.text_field :uf, :size => 5 %>
    </td>
    <td width="20%">
      <%= f.label :num_registro,"Numero de registro: " %>
      <%= f.text_field :num_registro, :size => 10 %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :folhas_reg,"Folhas" %>
      <%= f.text_field :folhas_reg, :size => 10 %>
    </td>
    <td>
      <%= f.label :livro_reg,"Livro" %>
      <%= f.text_field :livro_reg, :size => 10 %>
    </td>
    <td>
      <%= f.label :cor_raca,"Cor / Raça" %>
      <%= f.text_field :cor_raca, :size => 10 %>
    </td>
    <td>
      <%= f.label :PNE,"PNE*" %>
      <%= f.radio_button :PNE, true %>Sim
      <%= f.radio_button :PNE, false %>Não<br/>
      Qual? <hr>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <h3>1.3 End: <%= @crianca.endereco %></h3>
    </td>
    <td>
      <h3>N°: <%= @crianca.numero %></h3>
    </td>
    <td>
      <h3>Bairro: <%= @crianca.bairro %></h3>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Cidade: AMERICANA</h3>
    </td>
    <td>
      <h3>Telefone1: <%= @crianca.tel1 %></h3>
      <h3>Telefone2: <%= @crianca.tel2 %></h3>
    </td>
    <td colspan="2">
      <%= f.label :religiao,"Religião" %>
      <%= f.text_field :religiao, :size => 25 %>
    </td>
  </tr>
  </table>
 </fieldset>
 
  <fieldset>
  <legend>2 - Identificação Familiar</legend>
  <table width="100%" border="1">
  <tr>
    <td colspan="4" align="center">
      <strong>2.1 Pai</strong>
    </td>
  </tr>
  <tr>
    <td width="60%">
      <%= f.label :nome_pai, "Nome" %>
      <%= f.text_field :nome_pai, :size => 60 %>
    </td>
    <td width="30%" align="center">
      <strong><%= f.label :idade_pai,"Idade" %></strong>
      <%= f.text_field :idade_pai, :size => 10 %><strong>anos</strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :dt_nasc_pai,"Data de Nascimento" %>
      <%= f.date_select :dt_nasc_pai %>
    </td>
    <td width="50%" colspan="2">
      <%= f.label :estado_civil,"Estado civil" %>
      <%= f.radio_button :estado_civil,"casado" %>Casado
      <%= f.radio_button :estado_civil,"solteiro" %>Solteiro
      <%= f.radio_button :estado_civil,"divorciado" %>Divorciado
      <%= f.radio_button :estado_civil,"viuvo" %>Viúvo
      <%= f.radio_button :estado_civil,"outros" %>Outros: <u>_________________________</u>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <%= f.label :escolaridade_pai,"Escolaridade" %>
      <%= f.radio_button :escolaridade_pai,"superior completo" %>Superior Completo
      <%= f.radio_button :escolaridade_pai,"superior incompleto" %>Superior Incompleto
      <%= f.radio_button :escolaridade_pai,"fundamental completo" %>Fundamental Completo
      <%= f.radio_button :escolaridade_pai,"fundamental incompleto" %>Fundamental Incompleto
      <%= f.radio_button :escolaridade_pai,"medio completo" %>Médio Completo
      <%= f.radio_button :escolaridade_pai,"medio incompleto" %>Médio Incompleto
      <%= f.radio_button :escolaridade_pai,"outros" %>Outros _________________________
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :profissao_pai %>
      <%= f.text_field :profissao_pai %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :local_trabalho_pai,"Local" %>
      <%= f.text_field :local_trabalho_pai %>
    </td>
    <td>
      <%= f.label :end_trab_pai,"Endereço trabalho" %>
      <%= f.text_field :end_trab_pai,:size => 50 %>
    </td>
    <td>
      <%= f.label :horario_trab_pai,"Horário" %>
      <%= f.text_field :horario_trab_pai, :size => 20 %>
    </td>
  </tr>
  <tr>
    
    <td>
      Telefone:
      <%= f.label :fone_res_pai,"Residencial" %>
      <%= f.text_field :fone_res_pai, :size => 20%>
    </td>
    <td>
      <%= f.label :fone_com_pai, "Comercial" %>
      <%= f.text_field :fone_com_pai, :size => 20 %>
    </td>
    <td>
      <%= f.label :fone_celular_pai,"Celular" %>
      <%= f.text_field :fone_celular_pai, :size => 20 %>
    </td>
  </tr>
 </table>

  <table width="100%" border="1">
  <tr>
    <td colspan="4" align="center">
      <strong>2.1 Mãe</strong>
    </td>
  </tr>
  <tr>
    <td width="60%">
      <strong>Nome: </strong>
      <%= @crianca.mae %>
      <%= f.hidden_field(:nome_mae, :value => @crianca.mae) %>
    </td>
    <td width="30%" align="center">
      <strong><%= f.label :idade_mae,"Idade" %></strong>
      <%= f.text_field :idade_mae, :size => 10 %><strong>anos</strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :dt_nasc_mae,"Data de Nascimento" %>
      <%= f.date_select :dt_nasc_mae %>
    </td>
    <td width="50%" colspan="2">
      <%= f.label :estado_civil_mae,"Estado civil" %>
      <%= f.radio_button :estado_civil_mae,"casado" %>Casada
      <%= f.radio_button :estado_civil_mae,"solteiro" %>Solteira
      <%= f.radio_button :estado_civil_mae,"divorciado" %>Divorciada
      <%= f.radio_button :estado_civil_mae,"viuvo" %>Viúva
      <%= f.radio_button :estado_civil_mae,"outros" %>Outros: _______________________
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <%= f.label :escolaridade_mae,"Escolaridade" %>
      <%= f.radio_button :escolaridade_mae,"superior completo" %>Superior Completo
      <%= f.radio_button :escolaridade_mae,"superior incompleto" %>Superior Incompleto
      <%= f.radio_button :escolaridade_mae,"fundamental completo" %>Fundamental Completo
      <%= f.radio_button :escolaridade_mae,"fundamental incompleto" %>Fundamental Incompleto
      <%= f.radio_button :escolaridade_mae,"medio completo" %>Médio Completo
      <%= f.radio_button :escolaridade_mae,"medio incompleto" %>Médio Incompleto
      <%= f.radio_button :escolaridade_mae,"outros" %>Outros _________________________
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :profissao_mae %>
      <%= f.text_field :profissao_mae %>
    </td>
  </tr>
  <tr>
    <td>
      Local de trabalho:
      <%if (@crianca.local_trabalho).present? %>
        <%=  @crianca.local_trabalho%>
        <%= f.hidden_field :local_trabalho_mae, :value => @crianca.local_trabalho %>
      <%end%>
    </td>
    <td>
      <%= f.label :end_trab_mae,"Endereço trabalho" %>
      <%= f.text_field :end_trab_mae %>
    </td>
    <td>
      <%= f.label :horario_trab_mae,"Horário" %>
      <%= f.text_field :horario_trab_mae %>
    </td>
  </tr>
  <tr>

    <td>
      Telefone:
      <%= f.label :fone_res_mae,"Residencial" %>
      <%= f.text_field :fone_res_mae %>
    </td>
    <td>
      <%= f.label :fone_com_mae, "Comercial" %>
      <%= f.text_field :fone_com_mae, :size => 20 %>
    </td>
    <td>
      <%= f.label :fone_celular_mae,"Celular" %>
      <%= f.text_field :fone_celular_pai, :size => 20 %>
    </td>
  </tr>
 </table>

  <table width="100%" border="1">
  <tr>
    <td colspan="4" align="center">
      <strong>2.3 Responsável</strong>
    </td>
  </tr>
  <tr>
    <td width="60%">
      <strong>Nome: </strong>
      <%= f.label :nome_resp, "Nome" %>
      <%= f.text_field :nome_resp, :size => 60 %>
    </td>
    <td width="30%" align="center">
      <strong><%= f.label :idade_resp,"Idade" %></strong>
      <%= f.text_field :idade_resp, :size => 10 %><strong>anos</strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :dt_nasc_resp,"Data de Nascimento" %>
      <%= f.date_select :dt_nasc_resp %>
    </td>
    <td width="50%" colspan="2">
      <%= f.label :estado_civil_resp,"Estado civil" %>
      <%= f.radio_button :estado_civil_resp,"casado" %>Casada
      <%= f.radio_button :estado_civil_resp,"solteiro" %>Solteira
      <%= f.radio_button :estado_civil_resp,"divorciado" %>Divorciada
      <%= f.radio_button :estado_civil_resp,"viuvo" %>Viúva
      <%= f.radio_button :estado_civil_resp,"outros" %>Outros: _______________________
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <%= f.label :escolaridade_resp,"Escolaridade" %>
      <%= f.radio_button :escolaridade_resp,"superior completo" %>Superior Completo
      <%= f.radio_button :escolaridade_resp,"superior incompleto" %>Superior Incompleto
      <%= f.radio_button :escolaridade_resp,"fundamental completo" %>Fundamental Completo
      <%= f.radio_button :escolaridade_resp,"fundamental incompleto" %>Fundamental Incompleto
      <%= f.radio_button :escolaridade_resp,"medio completo" %>Médio Completo
      <%= f.radio_button :escolaridade_resp,"medio incompleto" %>Médio Incompleto
      <%= f.radio_button :escolaridade_resp,"outros" %>Outros _________________________
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :profissao_resp %>
      <%= f.text_field :profissao_resp %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :local_trabalho_resp,"Local" %>
      <%= f.text_field :local_trabalho_resp %>
    </td>
    <td>
      <%= f.label :end_trab_resp,"Endereço trabalho" %>
      <%= f.text_field :end_trab_resp %>
    </td>
    <td>
      <%= f.label :horario_trab_resp,"Horário" %>
      <%= f.text_field :horario_trab_resp %>
    </td>
  </tr>
  <tr>

    <td>
      Telefone:
      <%= f.label :fone_res_resp,"Residencial" %>
      <%= f.text_field :fone_res_resp %>
    </td>
    <td>
      <%= f.label :fone_com_resp, "Comercial" %>
      <%= f.text_field :fone_com_resp, :size => 20 %>
    </td>
    <td>
      <%= f.label :fone_celular_resp,"Celular" %>
      <%= f.text_field :fone_celular_resp, :size => 20 %>
    </td>
  </tr>
 </table>

 </fieldset>
<fieldset>
<legend>3 - Estrutura Familiar</legend>
<table width="100%" border="1">
  
  <tr>
    <td width="5%">
      <%= f.label :num_filhos %>
      <%= f.text_field :num_filhos, :size => 5 %>
    </td>
    <td colspan="5">
      <%= f.label :pais_vivem_juntos %>
      <%= f.radio_button :pais_vivem_juntos,true %>Sim
      <%= f.radio_button :pais_vivem_juntos,false %>Não
    </td>

  </tr>
  <tr>
    <td colspan="8">
      <%= f.label :tipo_relacionamento,"Tipo relacionamento (em caso de pais separados)" %>
      <%= f.text_field :tipo_relacionamento %>
    </td>
  </tr>
  <tr>
    <td colspan="8">
      <%= f.label :moradia %>
      <%= f.radio_button :moradia,"propria" %>Própria
      <%= f.radio_button :moradia,"alugada" %>Alugada
      <%= f.radio_button :moradia,"cedida" %>Cedida
      <%= f.radio_button :moradia,"casa" %>Casa
      <%= f.radio_button :moradia,"apto" %>Apto.
      <%= f.radio_button :moradia,"outras" %>Outras _____________________
    </td>   
  </tr>
  <tr>
    <td colspan="8" align="center">
      <h3>Termo de Serviço</h3>
    </td>
  </tr>
  <tr>
    <tr>
      <td colspan="4">
            <strong>1 - Autorizo a unidade à:</strong>
      </td>
    </tr>
    <tr>
    <td colspan="4">
      <%= f.label :ministrar_p_s,"Ministrar os primeiros socorros" %>
      <%= f.check_box :ministrar_p_s %>
    </td>
    </tr>
    <tr>
      <td colspan="4">
        <%= f.label :tratamento,"Tratamento médico/odontológico" %>
        <%= f.check_box :tratamento %>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <%= f.label :ap_fluor,"Realizar aplicação de fluor e verniz" %>
        <%= f.check_box :ap_fluor %>
      </td>
    </tr>
  </tr>
  <tr>
    <td colspan="8">
      <strong>2 - Autoriza a participar de atividades extra-classe:</strong><br />
      <%= f.label :atividades_extra_classe %><br />
      <%= f.check_box :atividades_extra_classe %>
    </td>
  </tr>
  <tr>
    <td colspan="8">
      <strong>3 - Declaro ter recebido o regimento interno da Unidade para ciência e cumprimentodas normas nele estabelecidos.</strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit "Matricular" %>
    </td>
  </tr>
  </table>
</fieldset>
  
<% end %>

<%= link_to 'Voltar', crianca_matriculas_path(@crianca) %>

<br>
  <br>
    * Portador de necessidade
</div>
