<div id="conteudo">
<style media="print">
.botao {
display: none;
}
</style>
<br/>
<br/>
<hr/>
<div class="botao">
  <%= form_tag({ :method => 'get', :action => 'search' }, :id => 'graph-unit-form')%>
    <%= error_messages_for 'contact' %>
   <table width="100%">
    <div class="botao">
      <tr>
        <td width="20%" align="right">
          Inverter consulta
          <%= check_box_tag 'accept' %>
        </td>
        <td width="80%" align="right">
          <div class="botao">
          Titulo:
          <%= collection_select :contact, :titulo_id, Titulacao.all, :id, :descricao, :prompt => true%>
          <%= submit_tag 'Filtrar' %></div>
        </td>
      </tr>
    </div>
    </table>
</div>
<hr/>
<br/>
<br/>
<div id="contador"></div>
<div class="botao">
  <input type="Button" Value="Imprimir" onclick="Imprimir()">
</div>
<%= render :partial => "listagem" %>
<br/>

<div class="botao">
  <input type="Button" Value="Imprimir" onclick="Imprimir()">
</div>

</div>

