
<h1 align="right">Salvar Calculos da Pontuação</h1>
<br/>

<div id="loginn">
  <fieldset>
     <legend><font size=5> <u>Realizar cálculos</u></font></legend>
     <br/>
     <center>
      <% form_for(@acum_trab) do |f| %>
        <%= f.error_messages %>
         <%= f.collection_select :professor_id, @professor_sede, :id, :matricula, :include_blank => ' -- Selecione -- ' %>



    <%= f.check_box :status %><br/><br/>
         Selecionar  a  caixa  acima<br/>
         e clicar no botão para confirmar.
        <p>
            <%= f.submit "Salvar" %>
        </p>
      </center>
       <% end %>
      </fieldset><br/>
      | <%= link_to 'Voltar',  professors_path %> |
</div>
