<br/>
<div id="conteudo">
Efetuar Calculo da Pontuação
<div id="menu_principal">
<div id="login2">

  <%= link_to_remote('Voltar', :update => "conteudo", :url => {:controller => 'professors', :action => 'executar'}) %>
  <br />  <br />
  <fieldset>
     <legend><font size=5> <u>Professores aguardado efetivação dos cálculos</u></font></legend>
     <br/>
     <table border="1" frame="box" rules="all">
        <tr>
        </tr>
        <tr>
          <th>Matricula</th>
          <th>Professor</th>
        </tr>
      <% @trabalho = Trabalhado.find_by_sql("SELECT * FROM trabalhados where ano_letivo = " + $data.to_s)  %>






  <% @teste = AcumTrab.find(:all, :conditions => ['status = 0']) %>

      <% @teste = AcumTrab.find(:all, :conditions => ['status = 0'],:order => 'professor_id') %>
	<% @teste = AcumTrab.find_by_sql('Select * from acum_trabs where status = 0 order by professor_id') %>
      <% for acum_trab in @teste %>


<!--        <%  @verify = Trabalhado.find(:all, :conditions =>['professor_id = ' + acum_trab.professor_id.to_s,'ano_letivo = ' + $data]) %> !-->
<% @verify = Trabalhado.find_by_sql('Select * from trabalhados where professor_id = ' + acum_trab.professor_id.to_s + ' and ano_letivo = ' + $data.to_s) %>

        <%  $contador = 0%>
        <%for flag in @verify%>
            <% $contador = $contador + 1 %>
        <%end%>

         <tr>
          <td><%= Professor.find(acum_trab.professor_id).matricula %></td>
          <td><%= Professor.find(acum_trab.professor_id).nome %></td>

        <%if $contador == 2 then%>
          <td>| <%= link_to 'Salvar', edit_acum_trab_path(acum_trab) %> |</td>
        <%else%>
             <td>| Preenchimento tempo de serviço não completo |</td>
        <%end%>


          
        <%end%>
       </tr>
        

    </table>
  </fieldset>
  <br />
  <%= link_to_remote('Voltar', :update => "conteudo", :url => {:controller => 'professors', :action => 'executar'}) %>
</div>
</div>
</div>


