<div id="conteudo">
  <div id="topo">
    <h1 align="right">Alteração do Cadastro de Região</h1>
    <h4 align="right"> <font   color="#ff0000"> S I S D E M A N  --  Ver.1.5       . </font></h4>
  </div><br/>

  <fieldset>
   <legend><font size=4>Região</font></legend>
   <% form_for(@regiao) do |f| %>
     <%= f.error_messages %>
       <p>
     
         <%= f.label :nome, 'Nome' %><br />
         <%= f.text_field :nome %>
       </p>
  </fieldset>
  <br/>
         <fieldset>
           <p>
           <%= f.submit "Atualizar" %>
           <p/>
         </fieldset>
       
     
   <% end %>
  
  <br/>
   | <%= link_to 'Exibir', @regiao %> |
   <%= link_to 'Voltar', regiaos_path %> |

</div>

