<div id="conteudo">
  <div id="topo">
    <br />
    <h1>Relat처rio de Regi천es</h1>
  </div>
  <p>
| <%= link_to 'Cadastrar Regi찾o', new_regiao_path %> |
   <a href="javascript:window.print();">Imprimir</a>
| <%= link_to ' Inicio' , root_path %> |

   <fieldset>
    <table>
     
      <tr>
        <th>Nome</th>
      </tr>

      <% for regiao in @regiaos %>
       <tr>
        <td><%=h regiao.nome %></td>
        <td><%= link_to 'Exibir', regiao %></td>
        <td><%= link_to 'Alterar', edit_regiao_path(regiao) %></td>
        <td><%= link_to 'Apagar', regiao, :confirm => 'Tem certeza?', :method => :delete %></td>
       </tr>
      <% end %>
    </table>
   </fieldset>
  </p>
  <p>
    <fieldset>
   | <%= link_to 'Cadastrar Regi찾o', new_regiao_path %> |
     <a href="javascript:window.print();">Imprimir</a>
   | <%= link_to ' Inicio' , root_path %> |

 </fieldset>
  </p>
</div>
