<div id="conteudo">
  <br/>
    <h1 align="center">Matricular Criança - <%= @matricula.nome %></h1>
<br/>
<% form_for(@matricula, :url => matricular_path(@matricula) ) do |f|%>
  <fieldset>    
    <table>

      <tr>
        <td><b>Matriculado</b></td>
        <td><%= f.check_box :matricula %>SIM</td>
      </tr>
      <tr>
         <td><b>Unidade Matriculada</b></td>
         <td><%= f.collection_select :unidade_matricula, @unidade_matricula, :id, :nome, :include_blank => '' %> </td>
         <td> <div id="unidade"></div></td>
       </tr>
       <tr>
         <td><b>Observação</b></td>
         <td><%= f.text_field :obs %></td>
       </tr>
    </table>
  <br/>
    <table>
      <tr>
        <td><b><%= f.label  :n_especial, 'Possui necessidade especial?' %></b></td>
        <td><%= f.check_box :n_especial %>SIM</td>
      </tr>
      <tr>
        <td><b><%= f.label  :historico_contato, 'Históricos de Contatos' %></b><br/>
        <%= f.text_area  :historico_contato %></td>
        <td><b><%= f.label :necessidade, 'Descricao Necessidade' %></b><br/>
        <%= f.text_area  :necessidade %></td>
      </tr>
    </table>
  </fieldset>
  <br/>
  <fieldset>
    <p>
     <div id="Certeza">
      <%= f.submit "Atualizar"%>
      
     </div>
    </p>
  </fieldset>
<% end %>
  <br/>

</div>
